/// <reference path="../site.scss" />

blockquote {
}

p {
    margin-bottom: $padding-halved;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2em;
    margin-bottom: $padding;
}

h2 {
    font-size: 1.8em;
    margin-bottom: .6rem;
}

h3 {
    font-size: 1.6em;
    margin-bottom: .5rem;
}

h4 {
    font-size: 1.4em;
    margin-bottom: .4rem;
}

h5 {
    font-size: 1.2em;
    margin-bottom: .3rem;
}

h6 {
    font-size: 1em;
    margin-bottom: .2rem;
    text-decoration: underline;
}