<div id="paymentFormView" class="stellar_checkout_form">
	<div class="stellar_checkout_header">
		<div class="stellar_checkout_logo">
			<img alt="" class="stellar_checkout_rocket" src="../../../assets/i/stellar-rocket@2x.png" />
			<span class="stellar_checkout_app_name">stellar checkout</span>
		</div>
	</div>
	<div class="stellar_checkout_form_wrap">
		<div class="stellar_checkout_field">
			<label id="stellarCheckoutTotalLabel" for="stellarCheckoutTotal">Total</label>
			<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--input">
				<input id="stellarCheckoutTotal" class="stellar_checkout_txt" type="text" autocomplete="off" value="{{invoice.total}}" disabled></input>
				<span class="stellar_checkout_currency">{{invoice.currency}}</span>
				<span class="stellar_checkout_error_message"></span>
			</div>
		</div>
		<div class="stellar_checkout_field">
			<label for="stellarCheckoutAmount">
				<span id="stellarCheckoutAmountLabel">Amount</span>
				<span id="stellarCheckoutCurrencyConversionInfo" class="stellar_checkout_currency_conversion_info"></span>
			</label>
			<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--input">
				<input id="stellarCheckoutAmount" class="stellar_checkout_txt" type="text" autocomplete="off" value="{{payment.amount}}" disabled></input>
				<span class="stellar_checkout_currency">XLM</span>
				<span class="stellar_checkout_error_message"></span>
				<span class="stellar_checkout_spinner"><i class="fas fa-spinner fa-spin"></i></span>
			</div>
		</div>
		<div class="stellar_checkout_field">
			<label id="stellarCheckoutPublicKeyLabel" for="stellarCheckoutPublicKey">Your Public Key</label>
			<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--input">
				<input id="stellarCheckoutPublicKey" class="stellar_checkout_txt" type="text" autocomplete="off" required></input>
				<span class="stellar_checkout_error_message"></span>
			</div>
		</div>
		<div class="stellar_checkout_button_row">
			<button id="stellarCheckoutSubmitButton" disabled>Enter payment info</button>
		</div>
	</div>
</div>