<div class="stellar_checkout_payment_awaiting stellar_checkout_hidden">
	<div class="stellar_checkout_header">
		<span class="stellar_checkout_goback">
			<i class="fas fa-chevron-circle-left"></i>
		</span>
		<div class="logo">
			<img alt="" class="rocket" src="../assets/i/stellar-rocket@2x.png" />
			<span class="app_name">stellar checkout</span>
		</div>
		<div class="alt">
			<div class="qr_wrap">
				<canvas class="qrcode"></canvas>
			</div>
			<div class="status">
				<span>Awaiting Payment</span>
			</div>
		</div>
	</div>
	<div class="transaction_info">Complete this transaction by sending a payment with the following information:</div>
	<div class="field">
		<label for="stellarCheckoutConfirmTo">QRCode Format</label>
		<div class="txtwrap txtwrap--picker">
			<select id="walletPicker" class="picker">
				<option value="destinationkey">Public Key</option>
				<option value="envelopexdr">XDR</option>
				<option value="stargazer">Stargazer Wallet</option>
			</select>
		</div>
	</div>
	<div class="field">
		<label for="stellarCheckoutConfirmTo">To</label>
		<div class="txtwrap">
			<textarea id="stellarCheckoutConfirmTo" class="txt" type="text" disabled>{{payment.to}}</textarea>
		</div>
	</div>
	<div class="field">
		<label for="stellarCheckoutConfirmFrom">From</label>
		<div class="txtwrap">
			<textarea id="stellarCheckoutConfirmFrom" class="txt" type="text" disabled>{{payment.from}}</textarea>
		</div>
	</div>
	<div class="field">
		<label for="stellarCheckoutConfirmAmount">Amount</label>
		<div class="txtwrap txtwrap--input">
			<input id="stellarCheckoutConfirmAmount" class="txt" type="text" value="{{payment.amount}}" disabled></input>
			<span class="currency">XLM</span>
		</div>
	</div>
</div>