/* STELLAR CHECKOUT */

.stellar_checkout_container {
    height: 98vh; /* todo: ugh vh */
}

.stellar_checkout {
    position: relative;
    font-family: monospace, monospace;

    float: left;
    width: 100%;
    height: 100%;
}

/* OVERLAYS */

.stellar_checkout_overlay,
.stellar_checkout_payment_complete {
    background-image: url('../i/stellar-rocket@2x.png');
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100%;
    position: absolute;
    transition: .4s;
    top: 0;

    width: 100%;
}

.stellar_checkout_overlay.stellar_checkout_loaded {
    opacity: 0;
    transform: scale3d(0, 0, 0);
}

/** HEADER */

.stellar_checkout_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: monospace, monospace;
    justify-content: center;
    padding: .8rem;
}

.stellar_checkout_header .stellar_checkout_goback {
    font-size: 1.2rem;
    left: 0;
    position: absolute;
    top: 0;
    padding: 1rem;
}

.stellar_checkout_header .stellar_checkout_logo .stellar_checkout_rocket {
    background: #fff;
    border: .0625rem solid #eee;
    border-radius: .4rem;
    font-family: monospace, monospace;
    font-weight: bold;
    text-transform: uppercase;
    padding: .4rem;
    width: 5.6rem;
}

.stellar_checkout_header .stellar_checkout_logo .stellar_checkout_app_name {
    display: block;
    padding: .4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace, monospace;
}

.stellar_checkout_header .stellar_checkout_header_alt {
    display: flex;
    min-height: 10rem;
    width: 100%;
}

.stellar_checkout_header .stellar_checkout_header_alt > div {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    font-family: monospace, monospace;
    justify-content: center;
}

.stellar_checkout_header .stellar_checkout_qr_wrap,
.stellar_checkout_header .stellar_checkout_status {
}

    @media screen and (min-device-width: 636px) {
        .stellar_checkout_header {
            flex-direction: row;
        }
        .stellar_checkout_header .stellar_checkout_logo {
            flex-basis: 33%;
        }
        .stellar_checkout_header .stellar_checkout_header_alt {
            flex-grow: 1;
            width: auto;
        }
        .stellar_checkout_header .stellar_checkout_header_alt > div {
            flex-basis: 50%;
        }
    }

.stellar_checkout_header .stellar_checkout_qr_wrap .stellar_checkout_qrcode {
    max-height: 10rem;
    max-width: 10rem;
}

.stellar_checkout_header .stellar_checkout_qr_wrap .stellar_checkout_spinner {
    font-size: 2rem;
}

.stellar_checkout_header .stellar_checkout_status {
    background: #f8f8f8;
    margin: .8rem .8rem .8rem 0;
    text-transform: uppercase;
    transition: .4s;
}

.stellar_checkout_header .status > span {
    line-height: 1.6;
    width: 50%;
}

/* COMPLETE */

.stellar_checkout_payment_complete {
    background-position-y: 36%;
}

.stellar_checkout_payment_complete .stellar_checkout_message {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    font-weight: bold;
    color: green;
    text-transform: uppercase;
    font-size: 2.4rem;
    height: 25%;
    margin-top: -12.5%;
}

/** ERRORS */

.stellar_checkout_error {
    position: absolute;
    height: 100%;
    transition: .4s;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .76);
}

.stellar_checkout_error .stellar_checkout_inner {
    background: #fff;
    border-radius: .2rem;
    border: .125rem solid #f80000;
    color: #f80000;
    display: flex;
    height: 12rem;
    margin-top: -4rem;
    padding: .8rem;
    position: absolute;
    transition: .4s;
    top: 48%;
    width: 92%;
    margin-left: 4%;
}

.stellar_checkout_error .stellar_checkout_error_close {
    position: absolute;
    top: .6rem;
    right: 1.2rem;
}

.stellar_checkout_error .stellar_checkout_error_message {
    display: flex;
    align-items: center;
    justify-items: center;
}

/* FORM */

.stellar_checkout_form {
    display: none;
}

.stellar_checkout_form.stellar_checkout_loaded {
    display: block;
}

/* FORM FIELDS */

.stellar_checkout .stellar_checkout_field {
	padding: .8rem .4rem;
    position: relative;
	text-align: left;
}

.stellar_checkout .stellar_checkout_field label {
	color: #a0a0a0;
    display: block;
    font-size: .8rem;
    letter-spacing: .075rem;
    padding: .4rem .2rem;
    text-transform: uppercase;
    width: 100%;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_txtwrap {
	background: #f8f8f8;
    border: .0625rem solid #eee;
    border-radius: .2rem;
    color: #000;
    font-family: monospace, monospace;
    height: 4rem;
    position: relative;
    width: 100%;
}

.stellar_checkout .stellar_checkout_txtwrap .spinner {
    position: absolute;
    top: 30%;
    right: .8rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_txtwrap--clipboard {
    display: flex;
    height: 5.2rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_txtwrap--input {
    height: 2.8rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_txtwrap--picker {
    height: 2.4rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_clipboard {
    align-items: center;
    display: flex;
    border-left: .0625rem solid #ddd;
    flex-basis: 4rem;
    font-size: 1rem;
    justify-content: center;
    position: relative;;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_clipboard_click {
    background: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_txtwrap textarea {
    overflow: hidden;
    resize: none;
}

.stellar_checkout .stellar_checkout_field input[type=text],
.stellar_checkout .stellar_checkout_field textarea {
    background: transparent;
    border: 0;
    font-family: monospace, monospace;
    font-size: 1.25rem;
    height: 100%;
    outline: 0;
    padding: .6rem .4rem;
    width: 100%;
    text-align: right;
}

.stellar_checkout .stellar_checkout_field textarea {
    text-align: left;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_currency {
	border-right: .0625rem solid #ddd;
    color: #a0a0a0;
	display: block;
    height: 100%;
    line-height: 2.6;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    width: 4rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_picker {
    background: transparent;
    border: 0;
    font-size: 1rem;
    height: 100%;
    outline: 0;
    padding: .4rem;
    width: 99%;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_error {
    border: 0.0625rem solid #f80000;
    border-radius: .2rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_valid {
    border: 0.0625rem solid #05ff05;
    border-radius: .2rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_error_message {
    border-radius: .4rem;
    left: 0;
    padding: .4rem .4rem;
    position: absolute;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 0;
    width: 100%;
    z-index: -1;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_error .stellar_checkout_error_message {
    color: #f80000;
    top: 2.55rem;
}

.stellar_checkout .stellar_checkout_field .stellar_checkout_copied {
    position: absolute;
    top: .4rem;
    right: .4rem;
    background: #f8f8f8;
    padding: .4rem;
    border-radius: .2rem;
    font-size: .8rem;
    border: .0625rem solid #eee;
}

/* BUTTONS */

.stellar_checkout .stellar_checkout_button_row {
	padding: .8rem .4rem;
}

.stellar_checkout .stellar_checkout_button_row button {
	background: #08b5e5;
    border-color: #08b5e5;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    min-height: 28px;
    line-height: 26px;
    outline: none;
    overflow: hidden;
    padding: .4rem .8rem;
    text-align: center;
    text-overflow: ellipsis;
    transition: .4s;
    white-space: nowrap;
    width: 100%;
}

.stellar_checkout textarea[disabled],
.stellar_checkout textarea:disabled {
    color: #000;
}

.stellar_checkout button[disabled],
.stellar_checkout button:disabled {
    opacity: 0.5;
}

/* PAYMENT AWAITING */

.stellar_checkout_payment_awaiting .stellar_checkout_transaction_info {
    line-height: 1.2;
    color: #a0a0a0;
    font-family: monospace, monospace;
    font-size: .9rem;
    padding: 0 .4rem;
}

.stellar_checkout_hidden {
    display: none!important;
}
