<div id="paymentAwaitingView" class="stellar_checkout_payment_awaiting stellar_checkout_hidden">
	<div class="stellar_checkout_header">
		<span id="paymentAwaitingGoBack" class="stellar_checkout_goback">
			<i class="fas fa-chevron-circle-left"></i>
		</span>
		<div class="stellar_checkout_logo">
			<img alt="" class="stellar_checkout_rocket" src="../../../assets/i/stellar-rocket@2x.png" />
			<span class="stellar_checkout_app_name">stellar checkout</span>
		</div>
		<div class="stellar_checkout_header_alt">
			<div class="stellar_checkout_qr_wrap">
				<div>
					<span id="qrCodeSpinner" class="stellar_checkout_spinner"><i class="fas fa-spinner fa-spin"></i></span>
					<canvas id="qrCodeCanvas" class="stellar_checkout_qrcode stellar_checkout_hidden"></canvas>
				</div>
			</div>
			<div id="paymentAwaitingStatus" class="stellar_checkout_status">
				<span>Awaiting Payment</span>
			</div>
		</div>
	</div>
	<textarea id="xdrTest" class="stellar_checkout_hidden"></textarea>
	<div id="paymentAwaitingTransactionInfo" class="stellar_checkout_transaction_info">Complete this transaction by scanning the QR code. The QR code contains a ready to be signed XDR envelope (<a id="linkShowWalletPicker" href="#">change qrcode format</a>). Alternatively, manually create a payment with the following information:</div>
	<div class="stellar_checkout_field stellar_checkout_hidden">
		<label id="walletPickerLabel" for="walletPicker">QRCode Format</label>
		<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--picker">
			<select id="walletPicker" class="stellar_checkout_picker">
				<option value="envelopexdr">XDR</option>
				<option value="destinationkey">Destination Public Key</option>
				<option value="stargazer">Stargazer Wallet</option>
			</select>
		</div>
	</div>
	<div class="stellar_checkout_field">
		<label id="stellarCheckoutConfirmToLabel" for="stellarCheckoutConfirmTo">To</label>
		<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--clipboard">
			<textarea id="stellarCheckoutConfirmTo" class="stellar_checkout_txt" readonly>{{payment.to}}</textarea>
			<span class="stellar_checkout_clipboard">
				<i class="fas fa-copy"></i>
				<span id="stellarCheckoutConfirmToClipboard" class="stellar_checkout_clipboard_click"></span>
			</span>
		</div>
	</div>
	<div class="stellar_checkout_field">
		<label id="stellarCheckoutConfirmFromLabel" for="stellarCheckoutConfirmFrom">From</label>
		<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--clipboard">
			<textarea id="stellarCheckoutConfirmFrom" class="stellar_checkout_txt" readonly>{{payment.from}}</textarea>
			<span class="stellar_checkout_clipboard">
				<i class="fas fa-copy"></i>
				<span id="stellarCheckoutConfirmFromClipboard" class="stellar_checkout_clipboard_click"></span>
			</span>
		</div>
	</div>
	<div class="stellar_checkout_field">
		<label id="stellarCheckoutConfirmMemoLabel" for="stellarCheckoutConfirmMemo">Memo</label>
		<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--clipboard">
			<textarea id="stellarCheckoutConfirmMemo" class="stellar_checkout_txt" readonly>{{payment.memo}}</textarea>
			<span class="stellar_checkout_clipboard">
				<i class="fas fa-copy"></i>
				<span id="stellarCheckoutConfirmMemoClipboard" class="stellar_checkout_clipboard_click"></span>
			</span>
		</div>
	</div>
	<div class="stellar_checkout_field">
		<label id="stellarCheckoutConfirmMemoTypeLabel" for="stellarCheckoutConfirmMemoType">Memo Type</label>
		<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--picker">
			<select id="stellarCheckoutConfirmMemoType" class="stellar_checkout_picker" disabled>
				<option value="hash" selected>MemoHash</option>
				<option value="id">MemoID</option>
				<option value="none">MemoNone</option>
				<option value="return">MemoReturn</option>
				<option value="text">MemoText</option>
			</select>
		</div>
	</div>
	<div class="stellar_checkout_field">
		<label id="stellarCheckoutConfirmAmountLabel" for="stellarCheckoutConfirmAmount">Amount</label>
		<div class="stellar_checkout_txtwrap stellar_checkout_txtwrap--input stellar_checkout_txtwrap--clipboard">
			<input id="stellarCheckoutConfirmAmount" class="stellar_checkout_txt" type="text" value="{{payment.amount}}" readonly></input>
			<span class="stellar_checkout_currency">XLM</span>
			<span class="stellar_checkout_clipboard">
				<i class="fas fa-copy"></i>
				<span id="stellarCheckoutConfirmAmountClipboard" class="stellar_checkout_clipboard_click"></span>
			</span>
		</div>
	</div>
</div>