/// <reference path="../site.scss" />

$green: #3ba776;

.sco_component {
    padding: $padding .4rem;

    &--collapsed .sco_form,
    &--collapsed &_results {
        display: none!important;
    }

    &.sco_loaded {
        display: block;
    }

    &.sco_loaded .sco_spinner {
        display: none;
    }

    &.sco_loaded &_results {
        display: block;
    }

    &_i {
        background: #fff;
        border: $layout-border;
        border-radius: $border-radius;
        font-size: $font-size-small;
        line-height: $line-height;
        position: relative;

        & .sco_spinner {
            display: inline-block;
            padding: $padding;
        }
    }

    &_footer {
        border-top: $layout-border;
    }

    &_text,
    &_error {
        padding: $padding;
        p {
            margin: 0;
            padding: $padding;
        }
    }

    &_error {
        border-top: $layout-border;
        color: $red
    }

    & .sco_spinner {
        display: inline-block;
    }

    &_title {
        font-size: $font-size-small;
        font-weight: bold;
        letter-spacing: .025rem;
        padding: $padding;
        text-align: left;
        text-transform: uppercase;

        .sco_spinner {
            padding: 0 $padding-halved;
        }

        &_aside {
            align-items: center;
            display: flex;
            float: right;
            padding-left: .8rem;
            &--collapsed {
                display: none;
            }
            input[type=checkbox] {
                margin-left: .8rem
            }
        }
    }

    &_heading {
        font-weight: bold;
        border-bottom: $layout-border;
        padding: $padding;
        text-align: left;
    }

    &_results {
        border-top: $layout-border;
        display: none;

        &_row {
            border-bottom: $layout-border;
            display: flex;
            padding: $padding;
            text-transform: uppercase;
            &--meta {
                color: $grey;
            }
            &:last-child {
                border-bottom: 0;
            }
            &_aside {
                flex-grow: 1;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                textarea {
                    margin-left: .8rem;
                    height: 4rem;
                    width: 96%;
                }
            }
            div:first-child {
                white-space: nowrap;
            }
        }

        &_aside {
            align-items: center;
            display: flex;
            float: right;
            padding-left: .8rem;
        }

        &_heading {
            border-bottom: $layout-border;
            display: flex;
        }

        &_heading > div {
            padding: $padding;
            text-align: right;
        }

        &_heading > div:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_heading:first-child {
            font-weight: bold;
            text-align: left;
        }

        &_heading div:first-child {
            font-weight: bold;
            min-width: 5.6rem;
            text-align: left;
        }
    }

    .sco_caption {
        color: $grey;
        font-size: $font-size-smallest;
        padding: .2rem $padding;
        text-align: center;
        &--big {
            font-size: 1.2rem
        }
        a {
            color: $darkgrey;
            text-decoration: underline;
        }
        input {
            border: .0625rem solid #eee;
            color: $darkgrey;
            text-decoration: underline;
            padding: .2rem .4rem;
            width: 4.8rem;
        }
    }

    &_qrcode {
        padding: 0 $padding $padding;
        text-align: center;
        margin-bottom: $gutter;
        &_i {
            margin: auto;
            min-width: 16rem;
            width: 50%;
        }
        canvas {
        }
        .sco_caption {

        }
    }

    // &_footer {
    //     font-weight: bold;
    //     text-align: center;
    // }

    /** COMPONENT - NETWORK_SELECTOR **/

    &--network_selector {
    }

    .sco_network_tag {
        font-weight: bold;
        text-transform: uppercase;
        &--test {
            color: orange
        }
        &--public {
            color: $green
        }
    }

    .sco_selector {
        display: flex;
        border: $layout-border;
        border-radius: $border-radius;

        > * {
            background: $white;
            color: $black;
            min-width: 4rem;
            padding: 0 $padding-halved;
            text-align: center;
        }

        a {
            border-radius: .2rem;
            text-decoration: none;
        }

        a.sco_selector_value--selected {
            background: $green;
            color: $white;
        }
    }



    /** COMPONENT - ROW **/
    
    &_row {
        font-size: $font-size-smallest;
        padding: $padding;
        padding-bottom: 0;
        i {
            font-weight: bold;
        }
    }

    /** COMPONENT - BUTTON_ROW **/

    &--button_row {
        font-size: normal;
        padding: $padding $padding;
    }

    &--button_group button {
        margin-bottom: $padding;
    }

    /** COMPONENT - NOTICE **/

    &--notice {
        color: $grey;
    }

    &--notice &_i {
        padding: $gutter;
    }

    &--notice .highlight {
        color: $darkgrey;
        font-weight: bold;
    }

    /** COMPONENT - TICKER **/

    &--ticker {
        .currency,
        .price {
          display: inline-block;
          padding: 0 .2rem;
        }
        .separator {
            color: #eee;
        }
    }

    /** COMPONENT - FOOTER **/
    &--footer {
        .sco_component_i,
        .sco_component_results {
            border: 0;    
        }
    }

    /* COMPONENT - FEDERATION */
    &--federation .sco_component_i {
        // min-height: 300px;
    }

}

