/// <reference path="../site.scss" />

$green: #3ba776;

.sco_component {
    padding: $padding .4rem;

    /* Collapsed */
    &--collapsed .sco_form,
    &--collapsed &_results {
        display: none!important;
    }

    /* Loaded */
    &.sco_loaded {
        display: block;
        &.sco_loaded .sco_component_spinner {
            display: none;
        }
    }
    &.sco_loaded &_results {
        display: block;
    }
    
    /* Inner */
    &_i {
        background: #fff;
        border: $layout-border;
        border-radius: $border-radius;
        font-size: $font-size-small;
        line-height: $line-height;
        position: relative;
    }

    /* Error */
    &_text,
    &_error {
        padding: $padding;
        p {
            margin: 0;
            padding: $padding;
        }
    }
    &_error {
        border-top: $layout-border;
        color: $red;
    }

    /* Spinner */
    &_spinner {
        display: inline-block;
        padding: $padding;
    }

    /* Header */
    &_header {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;

        .title {
            padding: $padding;
            &_spinner {
                padding: 0 $padding-halved;
                text-decoration: center;
                width: 2.4rem;
            }
        }

        .feature {
            padding: $padding;
            flex-grow: 1;
            text-align: right;
        }

        .complete_icon {
            padding: $padding;
            text-align: center;
            width: 2.4rem;
            input[type=checkbox] {
                margin: 0;
                outline: 0;
                padding: 0;
            }
        }

        .separator {
            font-weight: normal;
        }
    }

    /* Results */
    &_results {
        border-top: $layout-border;
        display: none;
        &_heading {
            border-bottom: $layout-border;
            display: grid;
            > div {
                padding: $padding;
                text-align: right;
                :last-child {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            div:first-child {
                font-weight: bold;
                min-width: 5.6rem;
                text-align: left;
            }
        }
    }

    &.sco_component--bestill &_results {
        display: block;
    }

    /* Row */
    &_row {
        border-bottom: $layout-border;
        display: grid;
        grid-template-columns: 12% 1fr;
        padding: $padding;
        text-transform: uppercase;
        &--footer {
            border-bottom: 0;
            border-top: $layout-border;
        }
        &--meta {
            color: $grey;
        }
        &:last-child {
            border-bottom: 0;
        }
        &_aside {
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            textarea {
                margin-left: .8rem;
                height: 4rem;
                width: 96%;
            }
        }
        div:first-child {
            white-space: nowrap;
        }
    }

    /* QRCode */
    .sco_qrcode {
        padding: 0 $padding $padding;
        text-align: center;
        margin-bottom: $gutter;
        &_i {
            margin: auto;
            min-width: 16rem;
            width: 50%;
        }
        canvas {
        }
    }

    /* Caption */
    .sco_caption {
        color: $grey;
        font-size: $font-size-smallest;
        padding: .2rem $padding;
        text-align: center;
        &--big {
            font-size: 1.2rem
        }
        a {
            color: $darkgrey;
            text-decoration: underline;
        }
        input {
            border: .0625rem solid #eee;
            color: $darkgrey;
            text-decoration: underline;
            padding: .2rem .4rem;
            width: 4.8rem;
        }
    }

    /** COMPONENT - NETWORK_SELECTOR **/
    &--network_selector {
    }

    .sco_selector {
        display: flex;
        border: $layout-border;
        border-radius: $border-radius;
        line-height: 1.8;
        overflow: hidden;
        > * {
            background: $white;
            border-left: $layout-border;
            color: $black;
            min-width: 4rem;
            padding: 0 $padding-halved;
            text-align: center;
        }
        a {
            text-decoration: none;
            &:first-child {
                border-left: 0;
            }
        }
        a.sco_selector_value--selected {
            background: $green;
            color: $white;
        }
    }

    /** COMPONENT - BUTTON_ROW **/
    &--button_row {
        padding: $padding $padding-halved;
    }

    &--button_group button {
        margin-bottom: $padding;
    }

}
