/// <reference path="../site.scss" />
.sco_form {
    padding: .4rem;
    .sco_field {
        padding: .4rem .8rem;
        position: relative;
        text-align: left;
        &_label {
            color: #a0a0a0;
            display: block;
            font-size: .8rem;
            letter-spacing: .075rem;
            padding: .4rem .2rem;
            text-transform: uppercase;
            width: 100%;
        }
        input[type=text],
        textarea {
            background: $lightgrey;
            border: 0;
            color: $black;
            font-family: $font-family;
            font-size: 1rem;
            height: 100%;
            outline: 0;
            padding: .6rem .8rem;
            width: 100%;
            text-align: left;
            &[disabled],
            &:disabled {
                color: #000;
            }
            ::placeholder {
                font-size: $font-size-small;
            }
        }
        &_input {
            border: $layout-border;
            border-radius: .2rem;
            height: 4rem;
            position: relative;
            width: 100%;
            &--error {
                border-color: $red;
            }
            &--input {
                height: 2.8rem;
            }
            &--working &_spinner {
                display: block;
            }
            &_spinner {
                display: none;
                position: absolute;
                top: 30%;
                right: .8rem;
            }
        }
        &_note {
            font-size: $font-size-smallest;
            padding: $padding;
            padding-bottom: 0;
            i {
                font-weight: bold;
            }
        }
    }
}
